.section{
    padding-block: var(--spacing-section);
}

body > main > .section {
    flex: none;
    min-height: auto;
}

@media all and (min-width: 1024px) {
    body > main > .section {
        flex: 1;
        min-height: 0;
    }
}
