<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>L'art de Lou{% if title %} | {{ title }}{% endif %}</title>
  <script type="module" src="/assets/js/main.bundle.js"></script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="icon" href="/assets/medias/icons/">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />  
</head>

<body>
  
  {% include "partials/mainnav.njk" %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include "partials/footer.njk" %}

</body>

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  
</html>
