---
permalink: paintings.html
title: Paintings
---

{% extends "layouts/base.njk" %}

{% block content %}

    <section class="section paintings">
        <div class="paintings--list" data-paintings-list>
        {% for set in [0, 1] %}
            <ul class="paintings--set" data-paintings-set>
            {% for painting in collections.paintings %}
                <li class="paintings--item" data-index="{{ loop.index0 }}">
                    {% responsiveImage painting.data.image, painting.data.title, "100vw", "fluidimg" %}
                    <div class="paintings--item--infos">
                        <h2 class="painting--name">{{ painting.data.title }}</h2>
                        <h4 class="painting--date">{{ painting.data.date | year}}</h4>
                    </div>
                    
                    <div class="paintings--item--infos">
                        <h4 class="painting--dimensions">{{ painting.data.dimensions.x }} x {{ painting.data.dimensions.y }}</h4>
                        <h3 class="painting--type">{{ painting.data.type }}</h3>
                    </div>

                    <div class="paintings--item--infos">
                        <h5 class="painting--dimensions">interessé ?</h5>
                        <a href="/contact" class="cta"><p class="painting--type">contacter</p></a>
                    </div>

                    {% if painting.data.sold %}
                        <h5 class="painting--sold">vendu</h5>
                    {%endif%}
                </li>
            {% endfor %}
            </ul>
        {% endfor %}

        </div>
        
    </section>

{% endblock %}
