<nav class ="mainnav--container">
  <div class="mainnav--logo">
    <a href="/">
      <img src="/assets/medias/icons/logo-lartdelou.svg" alt="Logo de L'art de Lou">
    </a>
  </div>
  <ul class="mainnav--links">
    <li><a class="f-nav {% if '/paintings' in page.url %} mainnav--active fw-regular {% endif %}" href="/paintings/">Peintures</a></li>
    <li><a class="f-nav {% if '/sculptures' in page.url %} mainnav--active fw-regular {% endif %}" href="/sculptures/">Sculptures</a></li>
    <li><a class="f-nav {% if '/calendar' in page.url %} mainnav--active fw-regular {% endif %}" href="/sculptures/">Calendrier</a></li>
    <li><a class="f-nav {% if '/contact' in page.url %} mainnav--active fw-regular {% endif %}" href="/contact/">Contact</a></li>
  </ul>
</nav>